* {
    margin: 00px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body {
    background: url(background.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;


    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}

.form-container{
    display: flex;
    width: 450px;
    height: 600px;
    border: 2px solid rgba(247, 243, 243, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    /* overflow: hidden; */

}

/* form column */

.form-col{
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}

/* switch from buttons */

.btn-box{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.btn{
    font-weight: 500;
    padding: 8px 30px;
    border: none;
    border-radius: 30px;
    background: rgba(160, 11, 11, 0.2);
    color: #fff;
    box-shadow: 0 5px 10px rgba(255,255,255,0.2);
    cursor: pointer;
    transition: .2s;

} 
/* button style */

.btn-1{
    background: #4a502c;
}

.btn:hover {
    opacity: .90;

}
.btn-2{
    background: rgb(41, 71, 77);
    margin-left: 20px;
    height: 50px;
}
.btn:hover{
    opacity: .90;
}

.form-box{
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    transition: .3s;
    
}

.form-title{
    margin: 40px 0;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    font-family: 'poppins' sans-serif;
    
}


.submit-btn{
    background: rgb(11, 42, 59);
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: .3s;
}
.submit-btn:hover{
   gap: 15px; 
   transform: scale(0.95);
   background-color: green;
   
}


.login-form{
    left: 50%;
}


.form-inputs{
    width: 100%;
}


.input-box{
    position: relative;
}

.inputs{
    width: 100%;
    height: 55px;
    margin: 10px 0;
    color: #f5eaea;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size: 15px;
    
}

.input-field {
    font-size: 16px;
    padding: 0 40px 0 20px;
    background: rgba(48, 1, 1, 0.2);
    outline: none;
    backdrop-filter: blur(20px);

}

::placeholder{
    color: #fff;
    font-size: 15px;
    
}

.input-box .icon{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
    width: 17px;
    height: 17px;

}

.social-login{
    display: flex;
    gap: 20px;justify-content: center;
    margin-top: 30px;
}

.social-login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
    color: #fff;
}

.social-login-icon{
    width: 24px;
}

.social-login-box:hover{
    transform: scale(0.95);
    color: #21264D;
    border: #4a502c;
}

.forgot-pass a{
    display: flex;
    justify-content: right;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.forgot-pass a:hover{
    text-decoration: underline;
}
